/*Accordion component css*/
#accordPage .a-acc-tab {
	font-weight: bold;
    color: $black-color !important;
}

.accord-tab {
	padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

/*media query*/
@media (max-width: 768px) {
    #accordPage .w-60 {
        width: 100% !important;
    }
}

