/*carousel component csss*/
#carouselComp .background-gray {
	background-image: url(../img/carousel/gray.png);
	background-repeat: no-repeat;
	background-position: bottom;
    background-size: cover;
    padding: 2em;
}

#carouselComp .tab-active {
	border-bottom: 3px solid $primary-color;
	color: $black-color;
}

#carouselComp #carousel-surf h3 {
	height: 3em; 
}

#carouselComp .thumbnails img:hover {
	border: 2px solid $primary-color;
}

#carouselComp .thumbnails img {
	border: 2px solid $white-color;
}

#carouselComp .surf-tab {
	border-bottom: 1px solid $primary-color;
}

#carouselComp .surf-tab a:hover,
#carouselComp #iconBar-surf:hover {
	cursor: pointer;
}

#carouselComp .view-all {
	border-bottom: 2px solid $primary-color;
}

.surf-tab-text {
	height: 12em;
	overflow: auto;
}

/*Team section*/
#carouselComp .team-card {
	/*box-shadow*/
	-webkit-box-shadow: 17px 22px 101px -6px rgba(179,177,179,1);
	-moz-box-shadow: 17px 22px 101px -6px rgba(179,177,179,1);
	box-shadow: 17px 22px 101px -6px rgba(179,177,179,1);
}

#carouselComp .team-card:hover {
	background-color: $primary-color;
}

#carouselComp .team-card:hover > p,
#carouselComp .team-card:hover > h4,
#carouselComp .team-card:hover > p span {
	color: $white-color !important;
}

#carouselComp .team .carousel .fa-stack,
#carouselComp .team .carousel-mobile .fa-stack {
    border: 1px solid $primary-color !important;
    border-radius: 50px;
}

.border-prime {
	border: 1px solid $primary-color;
}


/*media queries*/
@media (max-width: 900px) {
    #carouselComp .hero-img .fa-lg {
    	font-size: 1em;
	}
}

@media (max-width: 829px) {
	#carouselComp .team .max-width-3 img{
		margin-top: 3em;
	}
	#carouselComp .thumbnails img {
		display: inline-block;
		margin-bottom: .5rem;
	}
}

@media (max-width: 768px) {
	#carouselComp .thumbnails {
		padding-top: 0em; 
	}
	#carouselComp .view-all {
		margin-top: 1em;
	}
	#carouselComp .team .carousel {
		display: none;
	}
	#carouselComp .team .carousel-mobile {
		display: block;
	}
}

@media (max-width: 650px) {
	 #carouselComp .team {
		 margin-top: 9em;
	}
}

@media (max-width:365px) {
    .surf-tab a {
    	display: block;
    }
}


