/*Bakery page*/
#bakery-web {
	background-color: lightgrey;
}

/*Navigation*/

/*Hero Image*/ 
#bakery-web .hero-image {
	background-image: url(../img/bakery/hero.png);
	background-repeat: no-repeat;
	height: 500px;
    background-size: cover;
}


/*Media Queries*/
@media (max-width: 650px) {
   #bakery-web nav {
   		display: none;
   }
}
