/*collapse component css*/
#collapseComp .dropdown a:hover,
#collapseComp .dropdown a:focus,
#collapseComp .dropdown a:active {
    background: rgba(85, 83, 76, 0.6) !important;
    color: $white-color;
}

#collapseComp .dropdown {
    left: 0px;
    right: 0px;
    top: 109%;
}

/*Media Queries*/
@media (max-width: 830px) {
    #collapseComp  nav .sm-col-10 {
    	text-align: left !important;
    }
}

