/* Styles that apply to all pages */
body {
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}

#sideBtn {
	margin-bottom: 3em;
    background-color: $white-color;
    position: fixed;
    top: 0;
    display: block;
    width: 100%;
    z-index: 2;
}

/*Home page - SIDE NAV*/
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 3; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}
   
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/*Padding*/
.pt6 {
	padding-top: 6em;
}

.pt8 {
	padding-top: 8em;
}

.pt10 {
	padding-top: 10em;
}

.pb12 {
	padding-bottom: 12em;
}

.pl13 {
	padding-left: 13em;
}
 
.p-xs {
	padding-bottom: 2px;
}

/*Margin*/
.mt6 {
	margin-top: 6em;
}

.mt10 {
	margin-top: 10em;
}

.mt18 {
	margin-top: 18em;
}

/*Colors*/
.black {
	color: $black-color;
}

.black-bg {
	background-color: $black-color;
}

.white-bg {
	background-color: $white-color;
}

.white {
	color: $white-color;
}

.prime-color {
	color: $primary-color !important;
}

.prime-color-bg {
	background-color: $primary-color;
}
/*Borders*/
.none-border {
	border: none;
}

.border-bottom-gray { 
	border-bottom: 1px solid #4D4D4D;
}

.round-border{
    border-radius: 50px;
}

.border {
	border: 1px solid black;
}

.light-rounded {
	border-radius: .25rem;
}

.border-prime {
	border: 1px solid #BBBBBB;
}

/*Text*/
.text-center { 
	text-align: center;
}

.font-uppercase {
	text-transform: uppercase;
}

.font-2 {
	font-size: 2em;
}

.letter-space2 {
	letter-spacing: 2px;
}

.font-normal {
	font-weight: normal;
}

.fa-7x {
    font-size: 7em !important;
}
/*Display*/
.clear {
	clear: both;
}

.d-none {
	display: none;
}
/*Width/Height*/

.w-70 {
	width: 70%;
}

.width-85 {
	width: 85%;
}

.w-50 {
	width: 50%;
}

.w-20 {
	width: 20%;
}

/*Media Queries*/
@media (max-width: 485px) {
    .mt1-sm {
    	margin-top: 1em;
    }
}