/* Styles that apply to all pages */

/*Padding*/
.pt6 {
	padding-top: 6em;
}

.pt8 {
	padding-top: 8em;
}

.pt10 {
	padding-top: 10em;
}

.pb12 {
	padding-bottom: 12em;
}

.pl13 {
	padding-left: 13em;
}
 
.p-xs {
	padding-bottom: 2px;
}

/*Margin*/
.mt6 {
	margin-top: 6em;
}

.mt10 {
	margin-top: 10em;
}

.mt18 {
	margin-top: 18em;
}

/*Colors*/
.dark-yellow {
	color: #F1D700;
}

.dark-yellow-bg {
	background-color: #F1D700;
}

.dark-gray {
	color: $dark-gray-color;
}

.dark-gray-bg {
	background-color: $dark-gray-color;
}

.black {
	color: $black-color;
}

.black-bg {
	background-color: $black-color;
}

.white-bg {
	background-color: $white-color;
}

.white {
	color: $white-color;
}

.gray { 
	color: $gray-color;
}

.gray-bg { 
	background-color: $gray-color;
}

.blue {
	color: $blue-color !important;
}

.blue-bg {
	background-color: $blue-color;
}

.brown {
	color: $brown-color;
}

.sand-color {
	color: $sand-color;
}

.dirty-gray {
	color: $dirty-gray-color;
}

/*Borders*/
.none-border {
	border: none;
}

.border-bottom-gray { 
	border-bottom: 1px solid #4D4D4D;
}

.round-border{
    border-radius: 50px;
}

.border {
	border: 1px solid black;
}

/*Text*/
.text-center { 
	text-align: center;
}

.font-uppercase {
	text-transform: uppercase;
}

.font-2 {
	font-size: 2em;
}

.letter-space2 {
	letter-spacing: 2px;
}

/*Display*/
.clear {
	clear: both;
}

/*Width/Height*/
.w-70 {
	width: 70%;
}

.width-85 {
	width: 85%;
}

.w-50 {
	width: 50%;
}
