/*form component css*/
#form .myForm {
    font-size: 1em;
    border: 2px solid $primary-color;
}

#form .btn {
	padding: 0.6em 0.8em;
    background-color: #BBBBBB;
    border: 2px solid #9E9E9E;
    position: absolute;
    top: 8px;
    right: 15px;
}

#form .btn {
	cursor:pointer;
}

#form input:focus {
	outline: auto;
}

#form #name,
#form #email {
	padding: 0.3em;
}

/*media queries*/
@media (min-width:768px) {
    .myForm {
    	width: 65%; 
    }
}

@media (max-width:415px) {
    .myForm h2 {
        font-size: 1.3em;
    }
}

