/*modal style*/
#modal .modal {
    z-index: 2;
    border: 1px solid $primary-color;
    left: 0px;
    top: 0px;
    font-size: 1em;
    width: 500px;
    right: 0px;
    margin-right: auto;
    margin-left: auto;
    /*box shadow*/
    -webkit-box-shadow: -1px 11px 26px 0px rgba(187,187,187,0.76);
	-moz-box-shadow: -1px 11px 26px 0px rgba(187,187,187,0.76);
	box-shadow: -1px 11px 26px 0px rgba(187,187,187,0.76);
}

#modal .modal-header {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

#modal .modal-btn {
	padding: 0.8em;
}

#modal .clear-r {
	clear: right;
}

#modal .submit-btn {
	padding: 1em 1.3em 1em 1.3em;
    text-decoration: none;
    background-color: $primary-color;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

#modal .submit-btn:hover {
	cursor:pointer;
    text-decoration: none;
}

#modal input:focus {
    outline: auto;
}
/*media query*/
@media (max-width: 600px) {
    #modal .modal {
    	max-width: 100%;
    	width: unset;
    }
    #modal .modal-header {
    	margin-bottom: 0px;
    }
}