/*pagination component css*/
.active-pg2 {
	background-color: $primary-color;
}

.pagination li {
list-style: none;
display: inline-block;
text-align: center;
margin-top: 1em;
margin-bottom: 1em;
}

.pagination li a {
	border: 1px solid $black-color;
	padding: 1em;
	margin-right: 1em;
}

.pagination a {
	text-decoration: none;
}

.disable {
  pointer-events: none;
  cursor: default;
  color: #dbd3ce;
  border: 1px solid #dbd3ce !important;
}

/*media query*/
@media (min-width: 430px) and (max-width: 630px) {
	.pagination li a {
	    font-size: .8em;
	    padding: .7em;
	}
}

@media (max-width: 430px) {
	.pagination li a {
	    font-size: .5em;
	    padding: .7em;
	}
	#pagination .mb4-sm {
		margin-bottom: 0px;
	}
}