/*Progress Bar Component CSS */
#progressBtn {
	outline: none;
}

#myProgress {
  width: 100%;
  background-color: $primary-color;
}

#myBar {
  width: 10%;
  height: 30px;
  background-color: $black-color;
  line-height: 30px;
  color: $white-color;
}