/*Scrollspy*/
.scroll-nav {
	display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1em;
    top: 4em;
    left: 0;
    right: 0;
}

.scroll-nav a {
	padding-bottom: 2px;
	text-decoration: none;
}

.scroll-nav a:hover{
	color: $white-color;
	cursor: pointer;
}

.active-scroll {
	color: $white-color !important;
}

.scroll-body {
	margin-top: 12em;
}