
/*Carousel*/
.wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.wrapper div {
	align-self: center;
}

/*Navigation*/
.brand-logo img {
	width: 60px;
}

.right {
	float: right;
}

.css-compon nav {
	display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.css-compon nav a, 
.css-compon nav a:hover {
	text-decoration: none;
	color: $primary-color;
}

.css-compon nav a:hover{
	border-bottom: 1px solid $black-color;
}


  /*scroll-top button*/
  
  .scroll-top {
  	position: fixed;
  	right: 0px;
  	bottom: 10px;
  	padding: 1em;
  	background-color: green;
  	color: $white-color;
  }

  