.wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
}


.wrapper div {
	align-self: center;
}

.wrapper img {
	width: 100%;
}

.fa-chevron-left {
	padding-right: 1em;
}

.fa-chevron-right {
	padding-left: 1em;
}


