/*Colors*/
$primary-color: #42f483;
$black-color: #000000;
$red-color: #FF0000;
$white-color: #FFFFFF;
$dark-gray-color: #4D4D4D;
$gray-color: #C9C9C9;
$blue-color: #00AFFF;
$brown-color: #A47D5E;
$sand-color: #BDAD88;
$dirty-gray-color: #C2BEBA;
$green-color: #5DC987;